footer {
  @extend %full-width-component;
  padding-top: 50px; padding-top: 5rem;
  padding-bottom: 100px; padding-top: 10rem;
  background-color: $color-background;
  text-align: center;
  p {
    font-size: 0.9em;
  }
}
