html {}
body {
  overflow-x: hidden; // used for hiding scrollbar of full-width method
}
#page {
  position: relative;
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  @extend %clearfix;
}
header {
  float: left;
  width: 100%;
}
#main-nav {
  float: left;
  width: 100%;
}
main {
  float: left;
  width: 100%;
}
footer {
  float: left;
  width: 100%;
}

.browserupgrade {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  // TODO
}
