#main-nav {
  font-family: $font-family-nav;
  @extend %full-width-component;
  // padding-top: 10px; padding-top: 1rem;
  // padding-bottom: 10px; padding-bottom: 1rem;
  border-top: 3px solid $color-red;
  background-color: darkblue; // TODO: var
  ul.navigation {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      a {
        display: inline-block;
        padding: 15px 10px;
        font-size: 18px; font-size: 1.8rem;
        font-weight: 500;
        color: white;
        text-transform: uppercase;
        &:hover {
          color: $color-red;
          text-decoration: none;
        }
      }
    }
  }
  // see
  // http://www.hongkiat.com/blog/css-sticky-position/
  // <or>
  // http://designmodo.com/sticky-navigation-css-jquery/
  &.sticky {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
  }
}
