* {
	@include box-sizing(border-box);
}
*:before, *:after {
	@include box-sizing(border-box);
}
html {
	/* set up rems */
	/* (default typically 16px) */
	font-size: 62.5%; /* 16 * 0.625 = 10px */
}
body {
	font-family: $font-family-base;
	// font-size: 12px; font-size: 1.2rem; // odd chrome bug: http://fvsch.com/code/bugs/chrome-rem-fontsize/
	font-size: 140%; // 14px
	line-height: normal; // TODO: should this stay normal?
	// color: $voya-color-text;
	// background: $white;
}
img {
	max-width: 100%;
}
// TODO: part of normalize? */
strong { font-weight: bold; }
em { font-style: italic; }
sup {
	font-size: 0.75em;
	vertical-align: super;
	top: auto; // undo normalize.css
}
sub {
	font-size: 0.75em;
	vertical-align: sub;
	bottom: auto; // undo normalize.css
}
p {
	line-height: 1.5; /* this is best practice */
	margin: 0.25em 0px 0.66em; /* em's seem fine to me here, relative to the size of the p text */
}
a {
  // TODO
}
h1, h2, h3, h4 {
	font-family: $font-family-indieflower;
}
h1 {
  font-size: 48px; font-size: 4.8rem;
	margin: 25px 0 15px; margin: 2.5rem 0 1.5rem;
	border: 0;
	padding: 0;
}
h2 {
	font-size: 40px; font-size: 4rem;
	margin: 15px 0 10px; margin: 1.5rem 0 1rem;
	border: 0; border-bottom: 1px solid black; // TODO: var
	padding: 0;
}
h3 {
	font-size: 34px; font-size: 3.4rem;
	margin: 10px 0; margin: 1rem 0;
	border: 0;
	padding: 0;
}

/* FontAwesome */
:before, :after {
	/* generic fontawesome style */
	display: inline-block;
	color: inherit;
	font-family: $font-family-fontawesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	line-height: inherit;
	vertical-align: middle;
	@include font-smoothing();
}
:after {
	padding-left: 0.5em;
}
:before {
	padding-right: 0.5em;
}
